<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nLog-Project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">
		<target name="logfile" xsi:type="File" filename="${basedir}/logs/${date:format=yyyy}/${date:format=MM}/${date:format=yyyy-MM-dd}.log"
				maxArchiveFiles="10"
				archiveAboveSize="60240"
				layout="=======> ${longdate} ${level} ${newline} ${callsite} ${callsite-linenumber} ${newline}  ${message}"></target>
		<target name="logconsole" xsi:type="coloredConsole" ></target>

		<target name="JsonFile" xsi:type="File" fileName="${basedir}/logs/${date:format=yyyy}/${date:format=MM}/JsonLog${date:format=yyyy-MM-dd}.log">
			<layout type="JsonLayout">
				<attribute name="time" layout="${longdate}"></attribute>
				<attribute name="Level" layout="${level}"></attribute>
				<attribute name="Message" layout="${message}"></attribute>
				<attribute name="eventProperties" encode="true" >
					<layout type="JsonLayout" includeAllProperties="true" includeEventProperties="true" />
				</attribute>
				<attribute name="Entity" type="JsonLayout" layout="${Entity}" />
				<attribute name="EntityMsg" type="JsonLayout" layout="${message}" />

			</layout>
		</target>

		<target name="jsonFileA" xsi:type="File" fileName="log-file.json" >
			<layout xsi:type="JsonLayout" includeEventProperties="true" excludeProperties="Comma-separated list (string)">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
			</layout>
		</target>

		<target xsi:type="File" name="jsonFileB" fileName="nlog-json-nested-${shortdate}.log">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="message" layout="${message}" />
				<attribute name="properties" encode="true" >
					<layout xsi:type="JsonLayout" includeEventProperties="true" maxRecursionLimit="200" />
				</attribute>
				<attribute name="exception" encode="false">
					<layout xsi:type="JsonLayout">
						<attribute name="type" layout="${exception:format=type}" />
						<attribute name="message" layout="${exception:format=message}" />
						<attribute name="stacktrace" layout="${exception:format=tostring}" />
					</layout>
				</attribute>
			</layout>
		</target>

		<target name="apiUsageLog" xsi:type="Database" >
			<connectionString>
				Data Source=.;Initial Catalog=NLog;Integrated Security=true;
			</connectionString>
			<commandText>
				INSERT INTO dbo.NLog
				(message, machinename)
				VALUES
				(@messageParam, @machinenameParam)
			</commandText>
			<parameter name="@messageParam" layout="${message}" />
			<!-- this will be: my info message with "Value1" -->
			<parameter name="@machinenameParam" layout="${machinename}" />
			<!-- defined in NLog, see https://nlog-project.org/config/?tab=layout-renderers-->
			<!--<parameter name="@propertyParam1" layout="${event-properties:Property1}" />-->
			<!-- this will be "value1" -->
		</target>



		<target name="myDatabase" xsi:type="Database">
			<connectionString>Data Source=.;Initial Catalog=NLog; Integrated Security=true;</connectionString>

			<commandText>
				insert into dbo.Log (
				MachineName, Logged, Level, Message,
				Logger, Callsite, Exception
				) values (
				@MachineName, @Logged, @Level, @Message,
				@Logger, @Callsite, @Exception
				);
			</commandText>

			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>


	</targets>

	<rules>
		<logger name="*" writeTo="logConsole"></logger>
		<logger name="*" writeTo="JsonFile"></logger>
		<logger name="*" writeTo="jsonFileA"></logger>
		<logger name="*" writeTo="jsonFileB"></logger>
		<logger name="*" writeTo="apiUsageLog"></logger>
		<logger name="*" writeTo="myDatabase"></logger>
		<logger name="*" writeTo="logfile"></logger>
	</rules>


</nlog>