@page
@model WebApp.Web.Pages.Products.EditModel
@{
}


<div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
</div>

<form method="post">

  <input type="hidden" class="form-control" asp-for="Product.Id">

  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">نام</label>
    <input type="text" class="form-control" asp-for="Product.Name" required>
    <span asp-validation-for="Product.Name" class="text-danger"></span>
  </div>

  <div class="col-md-4">
    <label for="Price" class="form-label">قیمت</label>
    <input type="text" class="form-control" asp-for="Product.Price">
    <span asp-validation-for="Product.Price" class="text-danger"></span>
  </div>

  <div class="col-md-4">
    <label for="Amount" class="form-label">موجودی</label>
    <input type="text" class="form-control" asp-for="Product.Amount">
    <span asp-validation-for="Product.Amount" class="text-danger"></span>
  </div>

  <button class="btn btn-info" type="submit">ثبت</button>
  <a class="btn btn-info" asp-page="/Products">انصراف</a>
</form>